.ui-icon {
	font-size:1.5em;
	text-shadow:1px 1px 1px #ccc;
}

.img-carousel {
	height: 250px;
}

.title {
	color: white;
	font-family: algerian;
	text-align: center;
	font-size: 60px;
	text-shadow: 8px 8px 8px black;
}

.fen-login {
	background: rgba(0, 0, 0, 0.7);
	margin-top:150px;
	padding:50px;
	margin-left:35%;
	margin-right:35%;
	text-align: center;
	box-shadow: 8px 8px 8px black;
}

.logo-algo {
	float:left;
	height:50px;
}

.logo-algo h1 {
	text-align:center;
	display:inline-block;
	position:relative;
	margin-top:30px;
	margin-left:30px;
	font-family:"georgia";
	color:green;
}

.logo-algo img {
	display:inline-block;
	position:relative;
	margin-top:-20px;
}

.action-user {
	float:right;
}

.panier {
	margin-top:15px;
}

.deconnexion {
	margin-top:15px;
}



.header {
	min-height:100px;	
}

.header a {
	text-decoration: none;
	color:green;	
}

.header a:hover {
	color: lightgreen;
}

body {
	background-image: url('../Images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-container {
	background-color : white; 
	margin-top: 30px; 
	margin-bottom: 30px;
	box-shadow: 8px 8px 8px #303030;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: green;
}

.navbar-default {
    border-color: green;
    box-shadow: 2px 2px 2px #303030;    
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: green;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightgreen;
}

.mainpage {
	width: 1005px;
}

.contenu {
	min-width: 750px;
	max-width: 770px;
	float:right;
	margin-top:30px;
	maring-left:30px;
}

.contenu img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px #303030;
}

#menu {
	float:left;
	min-height:750px;
}

.menu-title {
	padding-left:5px;
}

.sidebar {
	border: 1px solid green;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #303030;
	margin-top:30px;
	background-color: #50BB50;
}

.sidebar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.menu-item a {
	display:block;
	list-style-type : none;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	color : green;
	border-top : solid 1px;
}

.menu-item {
	background-color: white;
}

.menu-item:hover {
	background-color : #F0F0F0;
}