.ui-icon {
	font-size:1.5em;
	text-shadow:1px 1px 1px #ccc;
}

.img-carousel {
	height: 250px;
}

body {
	background-image: url('../Images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-container {
	background-color : white; 
	margin-top: 30px; 
	height: 100%; 
	margin-bottom: 30px;
	box-shadow: 8px 8px 8px #303030;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: green;
}

.navbar-default {
    border-color: green;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: green;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightgreen;
}