<html>
	<head>
	{% include 'bootstrap.twig' %}
	<link rel="stylesheet" href="../Style/style.css"/>
	<title>Demmande de mot de passe</title>
	</head>
	<body>
		<div>
			<h1 class="title"> ALGOBREIZH </h1>
		</div>
		<form  name="connexion" method="post" action="Pages/login.php">
		<div class="fen-login">
		<label style="color:white">Code client : </label><input type="text" name="codeClient"> <br/> <br/>
		<label style="color:white">E-mail : </label><input type="text" name="mailClient"> <br/> <br/>
		<button class="btn btn-success" id="btnNewMdp">Demande de nouveau mot de passe</button> <br/>
		</div>
	</form>
	<div id="msgEnvoye" class="fen-login">
		<label style="color:white;font-size:20px;">Nouveau mot de passe envoyé <br/> à l'adresse : </label>
	</div>
	
	
	</body>
</html>