<!DOCTYPE html>
<html>
	<head>
		{% include 'bootstrap.twig' %}
		<link rel="stylesheet" href="../Style/style.css">
		<link rel="icon" type="image/png" href="/Images/AlgoBreizh_Logo_48px.png"/>
		<title>
		{% block title %}
			Titre par défaut
		{% endblock %}
		</title>
	</head>
	<body>
		<div class="container custom-container">
			
			<!-- Header du site -->
			<div class="header">
				<div class="logo-algo">
					<a href="accueil.php">
						<img src="../Images/AlgoBreizh_Logo_128px.png">
						<h1>ALGOBREIZH</h1>
					</a>
				</div>
				<div class="action-user">
					<div class="panier">
						<a href="panier.php"><i class="fa fa-shopping-cart ui-icon"></i> Panier</a>
					</div>
					<div class="deconnexion">
						<a href="login.php?logout=1"><i class="fa fa-power-off ui-icon"></i> Déconnexion</a>
					</div>
				</div>	
			</div>
			
			{% include 'navbar.twig' %}
			
			{% if carousel %}
				{% include 'carousel.twig' %}
			{% endif %}
			
			{% if banner %}
				{% include 'banner.twig' %}
			{% endif %}
			
			<!-- Contenu de la page -->
			<div class="mainpage">
				<div id="menu">
					{% include 'menu.twig' %}
				</div>
				<div class="contenu">
					{% block content %}
						<p>Hello</p>
					{% endblock %}
				</div>
			</div>
		</div>
		{% block script %}
		{% endblock %}
	</body>
</html>
