<html>
	<head>
	{% include 'bootstrap.twig' %}
	{% block title %}
		Login
	{% endblock %}
	</head>
	<body style="background-image: url('../Images/background_login.jpg');">
		<div>
			<h1 class="title"> ALGOBREIZH </h1>
		</div>
		<form name="connexion" method="post" action="Pages/login.php">
			<div class="fen-login">
				
			<div>
		</form>
	
	
	</body>
</html>