<nav class="sidebar">
	<h4>Nos produits</h4>
	<ul>
		{% for famille in familles %}
			<li class="menu-item"><a href="Pages/produits.php?f={{ famille.idFamille }}">{{ famille.libelleFamille }}</a></li>
		{% endfor %}
	</ul>
</nav>