{% extends 'base.twig' %}
{% set banner = true %}

{% block title %}
	Produits
{% endblock %}

{% block content %}

    	<div id="products" class="row list-group" style="width:900px">
        
	
		{% for produit in produits %}
		
		<div class="item  col-xs-4 col-lg-4">
			<div class="thumbnail">
                <img class="group list-group-image" src=" {{ produit.path }}" width="200" height="200"  alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ produit.libelleArticle }} </h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{ produit.prix|number_format(2) }} € </p>
                        </div>
                        <form class="form-item">
                        <div class="col-xs-12 col-md-6" style="margin-left:-20px">
                            <input type="submit" class="btn btn-success" value="Ajouter au panier"/>
                            <input name="idProduit" type="hidden" value="{{ produit.idArticle }}"/>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
		{% endfor %}
    </div>

<script type="text/javascript">
$(".form-item").submit(function(e) {
	var form_data = $(this).serialize();
	
	$.ajax({
		url:"ajax.php",
		type:"POST",
		dataType:"json",
		data:form_data
	}).done(function(data){
		alert("Ajouté au panier !");
	})
	
	e.preventDefault();
});

</script>
{% endblock %}
